In [111]:
import basedosdados as bd
import pandas as pd

Baixando os dados e tabelas

In [112]:
dicinoario = bd.read_table(dataset_id='br_ms_sim',
    table_id='dicionario',
    billing_project_id="probable-skill-360101")

Downloading: 100%|██████████| 572/572 [00:00<00:00, 1669.30rows/s]

In [113]:
tabela = bd.read_sql(
    '''
    SELECT * FROM `basedosdados.br_ms_sim.municipio_causa_idade_sexo_raca`
    ''',
    billing_project_id= 'probable-skill-360101'
)

Downloading: 100%|██████████| 22618604/22618604 [22:52<00:00, 16481.83rows/s]

In [114]:
populacao = bd.read_sql(
    '''
    SELECT * FROM `basedosdados.br_ibge_populacao.municipio`
    ''',
    billing_project_id= 'probable-skill-360101'
)

Downloading: 100%|██████████| 168818/168818 [00:07<00:00, 23918.93rows/s]

In [115]:
homicidio = bd.read_sql(
    '''
    SELECT * FROM `basedosdados.br_isp_estatisticas_seguranca.taxa_evolucao_anual_municipio`
    ''', 
    billing_project_id= 'probable-skill-360101')

Downloading: 100%|██████████| 644/644 [00:00<00:00, 1270.02rows/s]

In [116]:
pessoas_raca_sexo = bd.read_sql(
    '''
    SELECT * FROM `basedosdados.br_ibge_pnadc.ano_uf_raca_cor`
    ''',
    billing_project_id= 'probable-skill-360101')

Downloading: 100%|██████████| 2592/2592 [00:00<00:00, 6564.29rows/s]

In [117]:
#Copiei os dados do Df para esta variavel por conta do grande tempo de download
tabela1 = tabela

Manipulando dados pessoas_racas_sexo

In [118]:
filtro = pessoas_raca_sexo['ano'] >= 2017
pessoas_raca_sexo = pessoas_raca_sexo[filtro]
filtro = pessoas_raca_sexo['id_uf'] == '33'
pessoas_raca_sexo = pessoas_raca_sexo[filtro]

Manipulando dados homicídio

In [119]:
filtro = homicidio['ano'] >= 2017
homicidio = homicidio[filtro]
filtro = homicidio['ano'] <= 2019
homicidio = homicidio[filtro]
homicidio = homicidio.drop(columns=['registro_ocorrencias','id_municipio','regiao_rj', 'tentat_hom', 'lesao_corp_dolosa', 'estupro', 'roubo_transeunte', 'lesao_corp_culposa', 'roubo_celular', 'roubo_em_coletivo', 'roubo_rua', 'roubo_carga', 'roubo_comercio', 'roubo_residencia', 'roubo_banco', 'roubo_cx_eletronico', 'roubo_conducao_saque', 'roubo_apos_saque', 'roubo_bicicleta', 'outros_roubos', 'total_roubos', 'furto_veiculos', 'furto_transeunte', 'furto_coletivo', 'furto_celular', 'furto_bicicleta', 'outros_furtos', 'total_furtos', 'sequestro', 'extorsao','sequestro_relampago', 'estelionato', 'apreensao_drogas', 'posse_drogas', 'trafico_drogas', 'apreensao_drogas_sem_autor', 'recuperacao_veiculos', 'apf', 'aaapai', 'cmp', 'cmba', 'ameaca', 'pessoas_desaparecidas', 'encontro_cadaver', 'encontro_ossada', 'pol_militares_mortos_serv', 'pol_civis_mortos_serv', 'fase'])
homicidio = homicidio.dropna(axis=0, how='any')

Manipulando dados dicionário

In [120]:
filtro = dicinoario['id_tabela'] == 'municipio_causa_idade_sexo_raca'
dicinoario = dicinoario[filtro]
dicinoario = dicinoario.dropna(subset=['valor'])
dicinoario = dicinoario.drop(columns=['id_tabela', 'cobertura_temporal'])

Manipulando dados Tabela

In [121]:
filtro = tabela1['sigla_uf'] == 'RJ'
tabela1 = tabela1[filtro]
tabela1 = tabela1.drop(columns=['causa_basica', 'sigla_uf'])
tabela1 = tabela1.dropna(axis=0, how='any')
tabela1['sexo'] = tabela1['sexo'].map({'1':'masculino', '2':'feminino'})
tabela1['raca_cor'] = tabela1['raca_cor'].map({'1':'Branca', '2':'Preta', '3':'Amarela', '4':'Parda', '5':'Indígena'})
tabela1 = tabela1.assign(País='Brasil')
tabela1['id_municipio'] = tabela1['id_municipio'].map({'3300100':'Angra dos Reis', '3300159':'Aperibé', '3300209':'Araruama', '3300225':'Areal', '3300233':'Armação dos Búzios', '3300258':'Arraial do Cabo', '3300407':'Barra Mansa', '3300308':'Barra do Piraí', '3300456':'Belford Roxo', '3300506':'Bom Jardim', '3300605':'Bom Jesus do Itabapoana', '3300704':'Cabo Frio', '3300803':'Cachoeiras de Macacu', '3300902':'Cambuci', '3301009':'Campos dos Goytacazes', '3301108':'Cantagalo', '3300936':'Carapebus', '3301157':'Cardoso Moreira', '3301207':'Carmo', '3301306':'Casimiro de Abreu', '3300951':'Comendador Levy Gasparian', '3301405':'Conceição de Macabu', '3301504':'Cordeiro', '3301603':'Duas Barras', '3301702':'Duque de Caxias', '3301801':'Engenheiro Paulo de Frontin', '3301850':'Guapimirim', '3301876':'Iguaba Grande', '3301900':'Itaboraí', '3302007':'Itaguaí', '3302056':'Italva', '3302106':'Itaocara', '3302205':'Itaperuna', '3302254':'Itatiaia', '3302270':'Japeri', '3302304':'Laje do Muriaé', '3302403':'Macaé', '3302452':'Macuco', '3302502':'Magé', '3302601':'Mangaratiba', '3302700':'Maricá', '3302809':'Mendes', '3302858':'Mesquita', '3302908':'Miguel Pereira', '3303005':'Miracema', '3303104':'Natividade', '3303203':'Nilópolis', '3303302':'Niterói', '3303401':'Nova Friburgo', '3303500':'Nova Iguaçu', '3303609':'Paracambi', '3303708':'Paraíba do Sul', '3303807':'Paraty', '3303856':'Paty do Alferes', '3303906':'Petrópolis', '3303955':'Pinheiral', '3304003':'Piraí', '3304102':'Porciúncula', '3304110':'Porto Real', '3304128':'Quatis', '3304144':'Queimados', '3304151':'Quissamã', '3304201':'Resende', '3304300':'Rio Bonito', '3304409':'Rio Claro', '3304508':'Rio das Flores', '3304524':'Rio das Ostras', '3304557':'Rio de Janeiro', '3304607':'Santa Maria Madalena', '3304706':'Santo Antônio de Pádua', '3304805':'São Fidélis', '3304755':'São Francisco de Itabapoana', '3304904':'São Gonçalo', '3305000':'São João da Barra', '3305109':'São João de Meriti', '3305133':'São José de Ubá', '3305158':'São José do Vale do Rio Preto', '3305208':'São Pedro da Aldeia', '3305307':'São Sebastião do Alto', '3305406':'Sapucaia', '3305505':'Saquarema', '3305554':'Seropédica', '3305604':'Silva Jardim', '3305703':'Sumidouro', '3305752':'Tanguá', '3305802':'Teresópolis', '3305901':'Trajano de Moraes', '3306008':'Três Rios', '3306107':'Valença', '3306156':'Varre-Sai', '3306206':'Vassouras', '3306305':'Volta Redonda'})

Manipulando dados População

In [122]:
filtro = populacao['ano'] >= 2017
populacao = populacao[filtro]
filtro = populacao['ano'] <= 2019 
populacao = populacao[filtro]
filtro = populacao['sigla_uf'] == 'RJ'
populacao = populacao[filtro]
populacao['id_municipio'] = populacao['id_municipio'].map({'3300100':'Angra dos Reis', '3300159':'Aperibé', '3300209':'Araruama', '3300225':'Areal', '3300233':'Armação dos Búzios', '3300258':'Arraial do Cabo', '3300407':'Barra Mansa', '3300308':'Barra do Piraí', '3300456':'Belford Roxo', '3300506':'Bom Jardim', '3300605':'Bom Jesus do Itabapoana', '3300704':'Cabo Frio', '3300803':'Cachoeiras de Macacu', '3300902':'Cambuci', '3301009':'Campos dos Goytacazes', '3301108':'Cantagalo', '3300936':'Carapebus', '3301157':'Cardoso Moreira', '3301207':'Carmo', '3301306':'Casimiro de Abreu', '3300951':'Comendador Levy Gasparian', '3301405':'Conceição de Macabu', '3301504':'Cordeiro', '3301603':'Duas Barras', '3301702':'Duque de Caxias', '3301801':'Engenheiro Paulo de Frontin', '3301850':'Guapimirim', '3301876':'Iguaba Grande', '3301900':'Itaboraí', '3302007':'Itaguaí', '3302056':'Italva', '3302106':'Itaocara', '3302205':'Itaperuna', '3302254':'Itatiaia', '3302270':'Japeri', '3302304':'Laje do Muriaé', '3302403':'Macaé', '3302452':'Macuco', '3302502':'Magé', '3302601':'Mangaratiba', '3302700':'Maricá', '3302809':'Mendes', '3302858':'Mesquita', '3302908':'Miguel Pereira', '3303005':'Miracema', '3303104':'Natividade', '3303203':'Nilópolis', '3303302':'Niterói', '3303401':'Nova Friburgo', '3303500':'Nova Iguaçu', '3303609':'Paracambi', '3303708':'Paraíba do Sul', '3303807':'Paraty', '3303856':'Paty do Alferes', '3303906':'Petrópolis', '3303955':'Pinheiral', '3304003':'Piraí', '3304102':'Porciúncula', '3304110':'Porto Real', '3304128':'Quatis', '3304144':'Queimados', '3304151':'Quissamã', '3304201':'Resende', '3304300':'Rio Bonito', '3304409':'Rio Claro', '3304508':'Rio das Flores', '3304524':'Rio das Ostras', '3304557':'Rio de Janeiro', '3304607':'Santa Maria Madalena', '3304706':'Santo Antônio de Pádua', '3304805':'São Fidélis', '3304755':'São Francisco de Itabapoana', '3304904':'São Gonçalo', '3305000':'São João da Barra', '3305109':'São João de Meriti', '3305133':'São José de Ubá', '3305158':'São José do Vale do Rio Preto', '3305208':'São Pedro da Aldeia', '3305307':'São Sebastião do Alto', '3305406':'Sapucaia', '3305505':'Saquarema', '3305554':'Seropédica', '3305604':'Silva Jardim', '3305703':'Sumidouro', '3305752':'Tanguá', '3305802':'Teresópolis', '3305901':'Trajano de Moraes', '3306008':'Três Rios', '3306107':'Valença', '3306156':'Varre-Sai', '3306206':'Vassouras', '3306305':'Volta Redonda'})
populacao

        ano sigla_uf    id_municipio  populacao
96239  2017       RJ  Angra dos Reis     194619
96240  2018       RJ  Angra dos Reis     200407
96241  2019       RJ  Angra dos Reis     203785
96269  2017       RJ         Aperibé      11292
96270  2018       RJ         Aperibé      11612
...     ...      ...             ...        ...
98959  2018       RJ       Vassouras      36702
98960  2019       RJ       Vassouras      36896
98989  2017       RJ   Volta Redonda     265201
98990  2018       RJ   Volta Redonda     271998
98991  2019       RJ   Volta Redonda     273012

[276 rows x 4 columns]

Gerando tabelas com os dados de 2019 até 2017

In [123]:
filtro = tabela1['ano'] == 2019
tabela_2019 = tabela1[filtro]
file_name = 'mortaldade_2019.xlsx'
tabela_2019.to_excel(file_name)

In [124]:
filtro = tabela1['ano'] == 2018
tabela_2018 = tabela1[filtro]
file_name = 'mortaldade_2018.xlsx'
tabela_2018.to_excel(file_name)

In [125]:
filtro = tabela1['ano'] == 2017
tabela_2017 = tabela1[filtro]
file_name = 'mortaldade_2017.xlsx'
tabela_2017.to_excel(file_name)

Gerando tabela com os 3 anos juntos

In [126]:
tabela_geral = tabela1
filtro = tabela1['ano'] >= 2017
tabela_geral = tabela1[filtro]
tabela_geral = tabela_geral.drop(columns=['País'])
file_name = 'mortaldade_geral.xlsx'
tabela_geral.to_excel(file_name)

Gerando tabela com a população dos munícipios

In [127]:
file_name = 'populacao.xlsx'
populacao.to_excel(file_name)

Gerando tabela de homicidios

In [128]:
file_name = 'homicidios.xlsx'
homicidio.to_excel(file_name)

Gerando tabela de pessoas por etnia e sexo

In [129]:
file_name = 'pessoas_raca_sexo.xlsx'
pessoas_raca_sexo.to_excel(file_name)